<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="About content">
    <h2>About</h2>
    <p>EJS, or Embedded javascriptr , is a popular template engine for Node.js and web development. It allows you to generate dynamic HTML content by
        embedding javascript code within your HTML templates.
    </p>
    <p>EJS, or Embedded javascriptr , is a popular template engine for Node.js and web development. It allows you to generate dynamic HTML content by
        embedding javascript code within your HTML templates.
    </p>
    <p>EJS, or Embedded javascriptr , is a popular template engine for Node.js and web development. It allows you to generate dynamic HTML content by
        embedding javascript code within your HTML templates.
    </p>
</div>
    <footer>
        copyrights &copy; Blogs of Nodes-c 2024.
    </footer>

</body>

</html>