<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <a href="#">
            <h3 class="title">Apr 06</h3>
            <p class="snippets">Day to be remembered!.</p>
        </a>

    </div>
    <footer>
        copyrights &copy; Blogs of Nodes-c 2024.
    </footer>

</body>

</html>